{% extends 'base.html' %}
{%block title%%}Home page{%endblock%}
{% block content %}
<main>
    <h3>Це головна сторінка мого Pet Project'у</h3>
    <p>В цьому проекті я реалізував кастомну систему аутентифікації(створення акаунтів на сайті)</p> 
    <p>Основа цього сайту це інтернет магазин з можливістю офромлення замовлення</p> 
    <p>Для того щоб ознайомитися з можливостями магазину натисніть на надпис "Shop" в лівому верхньому кутку</p> 
    <p>Знаходячись за посилання localhost/shop натиснувши на зображення кошика в правому верхньому кутку ви відкриєьте кошик користувача з усіма доданими товарами </p> 
    <p>Під час офромлення замовлення і заповнення форми залежно від того чи ви увійшли в акаунт будуть підтягуватися ваші дані користувача</p>
    <p>Додавання нових товарів доступне лише для superuser через admin інтерфейс</p>
    <p>Перегляд замолень аналогічно</p>
</main>
<style>
main{
    margin: auto;
    display:flex;
    width: 50vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 30px;
}
p{
    padding: 10px;
    text-align: center;
}
</style>
{% endblock content %}